<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/galeria.css">
    <title>Galeria</title>
</head>
<body>

    <section class="galeria">

        <h2 class="galeria-title">Galeria de Imagenes</h2>
        <div  class="container">
            <img class="imagen" src="../Img/mujer.jpg" alt="Mujer">
            <img class="imagen" src="../Img/paisaje1.jpg" alt="Paisaje">
            <img class="imagen" src="../Img/paisaje2.jpg" alt="Paisaje">
            <img class="imagen" src="../Img/paisaje3.jpg" alt="Paisaje">
            <img class="imagen" src="../Img/paisaje4.jpg" alt="Paisaje">
            <img class="imagen" src="../Img/pareja.jpg" alt="Pareja ">

            
        </div>

    </section>
    
</body>
</html>